kimi-morning.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 8,
                            "triggerAtMinute": 30
                        }
                    ]
                }
            },
            "id": "9858c3ee-4302-4cc6-89de-e600128458d3",
            "name": "Morning Trigger - 8:30 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -1472,
                -48
            ]
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "value": "adityapandeyadp@gmail.com",
                    "mode": "list",
                    "cachedResultName": "adityapandeyadp@gmail.com"
                },
                "returnAll": true,
                "options": {
                    "timeMin": "={{ $now.startOf('day').toISO() }}",
                    "timeMax": "={{ $now.endOf('day').toISO() }}"
                }
            },
            "id": "fe73f227-6f53-4b19-a028-aad0930a6931",
            "name": "Get Today's Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.2,
            "position": [
                -1280,
                -48
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "wegahjpEjsSELpPX",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "operation": "getAll",
                "returnAll": true,
                "filters": {}
            },
            "id": "b81be086-efd1-4cce-828d-f553d39ba330",
            "name": "Get Today's Tasks",
            "type": "n8n-nodes-base.todoist",
            "typeVersion": 2,
            "position": [
                -1072,
                -48
            ],
            "credentials": {
                "todoistOAuth2Api": {
                    "id": "80UtMG66VzzEeYNy",
                    "name": "Todoist account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.tasks }}",
                "options": {
                    "systemMessage": "You are KIMI. It's morning. Aditya needs clarity, not hype.\n\nRules:\n- 2-3 lines max\n- State meetings + time\n- State top 3 tasks\n- No motivation, no fluff\n- Tone: calm, grounded, clear\n\nExample:\nMorning, Adi. Two meetings today—standup at 10, client call at 3. Three priorities: review PR #234, send proposal to Sarah, prep deck.",
                    "returnIntermediateSteps": true
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -672,
                -48
            ],
            "id": "7a78c7d6-f601-41af-b37b-c12c0cebb005",
            "name": "KIMI Morning Agent"
        },
        {
            "parameters": {
                "chatId": "8120319160",
                "text": "={{ $json.output }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                -176,
                -64
            ],
            "id": "9ffddcb4-d85e-49d3-9192-49ba96ee8590",
            "name": "Send Morning Briefing",
            "webhookId": "3da0607c-7087-4cfb-8ae8-67e7fa43eff8",
            "credentials": {
                "telegramApi": {
                    "id": "HErTszOeppASQAjB",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                -576,
                256
            ],
            "id": "58ec3d42-6eed-4c9c-af20-f88be9491415",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "jsCode": "const seen = new Set();\nconst tasks = [];\n\nfor (const item of $input.all()) {\n  const t = item.json;\n\n  if (seen.has(t.id)) continue;\n  seen.add(t.id);\n\n  tasks.push({\n    id: t.id,\n    content: t.content,\n    project_id: t.project_id,\n    section_id: t.section_id,\n    is_completed: t.is_completed,\n    priority: t.priority,\n    due_date: t.due ? t.due.date : null,\n    url: t.url,\n    myNewField: 1,\n  });\n}\n\n// Return ONE item with ONE json object\nreturn [\n  {\n    json: {\n      total: tasks.length,\n      tasks\n    }\n  }\n];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -848,
                -48
            ],
            "id": "ba12c5d2-f0f6-4b9c-9fa9-903e756e5bb8",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-5-nano-2025-08-07",
                    "mode": "list",
                    "cachedResultName": "gpt-5-nano-2025-08-07"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -688,
                176
            ],
            "id": "924093d2-4b59-43c4-81f1-5ac9ae6cee75",
            "name": "Day LLM",
            "credentials": {
                "openAiApi": {
                    "id": "2TiHRMeeuQXK2R19",
                    "name": "OpenAi account"
                }
            }
        }
    ],
    "connections": {
        "Morning Trigger - 8:30 AM": {
            "main": [
                [
                    {
                        "node": "Get Today's Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Today's Calendar": {
            "main": [
                [
                    {
                        "node": "Get Today's Tasks",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Today's Tasks": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "KIMI Morning Agent": {
            "main": [
                [
                    {
                        "node": "Send Morning Briefing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "KIMI Morning Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "KIMI Morning Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Day LLM": {
            "ai_languageModel": [
                [
                    {
                        "node": "KIMI Morning Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "c533274501b5b0a1fd01bbbbfd7330c80c777376fd8dd8785cd64e0adea5d220"
    }
}
